<div *ngIf="detallePelicula" >

  <h1> {{ detallePelicula.title }} </h1>
  <div class="row">
    <div class="col-md-4 animated fadeIn">
      <img class="img-fluid" [src]="img + detallePelicula.poster_path" alt="">
    </div>
    <div class="col-md-8 animated fadeIn fast">
      <div>
        <div class="Sinopsis">
          <h2>Sinopsis</h2>
          <p>
            {{ detallePelicula.overview }}
          </p>

        </div>

        <div class="frase-celebre">
          <h2>Frase Celebre</h2>

          <p *ngIf="detallePelicula.tagline">{{ detallePelicula.tagline }}</p>

          
          <p>Popularidad: <span class="badge badge-primary">{{ detallePelicula.popularity | number:'.2' }}</span></p>
          <p>Voto promedio: <span class="badge badge-primary">{{ detallePelicula.vote_average | number:'.2' }}</span></p>
    
          
          <a href="javascript:window.history.back();" class="btn btn-outline-danger"> Regresar </a>
        
        </div>
      </div>
    </div>
  </div>
  
</div>